{% extends 'layout.html'%}


{%block title%} Inicio {% endblock %}
{% block content %}
<h2>Inicio</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam nunc orci, maximus eget volutpat eget, pretium eget
    turpis. Aliquam auctor sem sed odio ultricies semper. Donec pellentesque convallis accumsan. Praesent eu libero
    sollicitudin, gravida justo eu, posuere felis. Nam interdum posuere commodo. Vivamus iaculis diam tortor, at sodales
    libero sagittis et. Aliquam risus augue, scelerisque eu gravida vitae, porttitor non orci. In imperdiet pellentesque
    sagittis. Duis malesuada ac tellus eu lobortis. Donec pharetra ultricies nibh at commodo. Vestibulum ante ipsum
    primis in faucibus orci luctus et ultrices posuere cubilia curae; Vivamus venenatis finibus turpis sit amet
    scelerisque.</p>
<p>Vivamus consectetur varius erat, ut efficitur nibh scelerisque eu. Aenean feugiat nisl ut urna placerat, et malesuada
    libero bibendum. Maecenas vitae dignissim magna. Interdum et malesuada fames ac ante ipsum primis in faucibus. Cras
    eleifend lobortis justo non scelerisque. Vivamus ornare dapibus odio, eget semper nisi sagittis id. Sed ac augue
    molestie nisl feugiat fringilla. Sed imperdiet diam a efficitur dictum. Pellentesque fringilla mollis magna, ut
    laoreet metus. Nunc id rutrum erat. Cras elementum felis eu gravida aliquam. Nullam iaculis ullamcorper tincidunt.
    Fusce ullamcorper, massa quis fringilla maximus, ante massa varius ipsum, vitae efficitur tortor leo ut enim.</p>

<p>Nulla eget mollis risus. Donec sodales pharetra nunc, eu varius nisl tristique sed. Sed imperdiet lacus id nisl
    varius, vitae semper dui interdum. Maecenas congue mollis lacus id varius. Suspendisse potenti. Donec accumsan,
    risus sit amet fringilla elementum, mauris nulla elementum leo, ut pharetra ipsum enim imperdiet quam. Suspendisse
    hendrerit molestie tortor sed pulvinar. Nam sed risus mattis lacus posuere pulvinar. Pellentesque laoreet sapien
    nisi, eget congue elit sagittis in. Nullam ultrices augue quis ultricies ullamcorper. Sed laoreet quam justo, vitae
    mollis arcu dignissim eu.</p>

<p>Morbi aliquam justo libero, eget dapibus diam feugiat sit amet. Vestibulum imperdiet vitae turpis in dapibus. Nam
    fermentum orci ligula, blandit lobortis nisi volutpat rhoncus. Fusce odio quam, cursus eu pretium ut, porta a
    tellus. Proin convallis mauris urna, ac pharetra turpis mollis in. In et laoreet nunc, et dapibus mi. Quisque varius
    pellentesque risus id viverra. Nullam et eros odio. Aenean tincidunt nunc luctus magna maximus luctus.</p>
<hr>

{% endblock%}